In [15]:
# Write a code to return "Hero" from given string
example_string1 = "Hello bro"

In [52]:
example_string1[:2] + example_string1[-2:]

'Hero'

In [31]:
# Write a code to return "Jack is my name"
example_string2 = "jack Is My NAME"
example_string2.capitalize()

'Jack is my name'

In [3]:
# Write a code to return "Get rid of junk please"
example_string3 = "%-*Get rid of *junk* please*-L%*"

In [ ]:
example_string3.strip('','').replace('*','')

In [51]:
"%-*Get rid of *junk* please*-L%*".strip('$').replace('*','').replace('%','').replace('-','').replace('L','')

'Get rid of junk please'

In [4]:
# Write a code to return "Hello my name is Jack"
example_string4 = "hello my name is jack"

In [5]:
# find all occurrences of “Estonia” in a given string ignoring the case.
example_string5 = "Welcome to estonia. Estonia is awesome, isn't it? I moved to ESTONIA 5 years ago."

In [6]:
# Write a code to return formatted string "Hello, my name is Jack"
var1 = "jack"
var2 = "hello"
var3 = "MY NAME IS"

In [53]:
f'{var2.capitalize()}, {var3.lower()} {var1.title()}'

NameError: name 'var2' is not defined

In [7]:
# Write a code to return byte_string text value
byte_string = b"\316\273"

In [6]:
byte_string = decode('utf32')

NameError: name 'string1' is not defined