In [35]:
# You have given a Python list. Write a program to find value 20 in the list, and if it is present,
# replace it with 200. Only update the first occurrence of an item.
list1 = [5, 10, 15, 20, 25, 50, 20]

In [36]:
list1.count(20)

2

In [37]:
list1[3] = 200
list1

[5, 10, 15, 200, 25, 50, 20]

In [12]:
# Swap first and last elements in the given list
lst = ['first', 'a', 'b', 'c', 'd', 'last']

In [13]:
lst.append(lst.pop(0)) 
lst.insert(0, lst.pop(-2))

In [14]:
lst

['last', 'a', 'b', 'c', 'd', 'first']

In [22]:
# Concatenate two lists to get the new one: ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

In [33]:
for list in list1:
    for lists in list2:
            print(f'{list} {lists},')

Hello  Dear,
Hello  Sir,
take  Dear,
take  Sir,

In [4]:
# Using for loop calculate the factorial of 11.
# Factorial of 11 (11!) is a product of 1 x 2 x 3 ... x 11

In [41]:
num = 11
factorial = 1
for i in range(1,num + 1):
    factorial = factorial*i
print("The factorial of",num,"is",factorial)

The factorial of 11 is 39916800

In [5]:
# You have a text. Write a program to return a list of words of this text cleared of any punctuation, and capitalized. 
# This list shouldn't contain any word starts with 'a' ignoring case.

text = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat molestie sem, eu lacinia nisi hendrerit et. Maecenas risus ex, cursus ac tincidunt eu, porttitor ac diam. Morbi posuere laoreet ante, sed aliquam risus laoreet vel. Donec fringilla sollicitudin metus, quis finibus odio tincidunt quis. In a neque semper, sodales enim bibendum, sodales tellus. Sed eu efficitur metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse placerat tincidunt lectus, id commodo lacus sollicitudin ut. Aliquam sed consectetur sem. Nullam euismod magna vitae augue tristique interdum ac id dui. Nam neque libero, lacinia ut purus.'